html {
  --red: #d8222a;
  --blue: #054b8e;
  /* --dark-gray: #1e1e1e; */
  /* --black: #1a1919; */
  --gray: #5f6369;
  --light-gray: #fafafa;
  --gray0: #b9b5b5;
  font-family: "Roboto", sans-serif;
  color: var(--gray);
}
body {
  margin: 0;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#logo {
  display: block;
  max-width: 230px;
  max-height: 95px;
  width: auto;
  height: auto;
}
#nav {
  font-size: 2rem;
  position: relative;
}
#nav-button {
  border: 1px solid var(--gray);
  border-radius: 10px;
}

#nav-button img {
  height: 20px;
}
#nav-button:hover {
  cursor: pointer;
}
#nav-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  width: 100%;
  top: 0;
}
#nav-content a {
  display: block;
  text-decoration: none;
  color: var(--gray);
}
#charter img {
  width: 100%;
}

#charter h3 img {
  width: auto;
}
.card-content {
  overflow: hidden;
  /* -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -ms-transition: max-height 1s;
  -o-transition: max-height 1s; */
  transition: max-height 1s;
  max-height: 0px;
  background-image: linear-gradient(white, gray);
}

.card-content img {
  max-width: 50%;
}
